n8n/workflows/forgejo-pr-merged.json
{
  "id": "a1b0a1b0-0001-4000-8000-000000000006",
  "name": "ME · Forgejo PR merged",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "forgejo-pr-merged",
        "authentication": "none",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f1b2c3d4-e5f6-7890-abcd-611111111101",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "f1b2c3d4-e5f6-7890-abcd-611111111102"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const root = items[0].json;\nconst body = root.body ?? root;\nconst dispatcherBase = ($env.AGENT_DISPATCHER_URL || '').replace(/\\/$/, '');\nreturn [{ json: { body, dispatchUrl: dispatcherBase ? dispatcherBase + '/forgejo/pull-request' : '', dispatchToken: $env.AGENT_DISPATCH_TOKEN || '' } }];"
      },
      "id": "f1b2c3d4-e5f6-7890-abcd-611111111103",
      "name": "Prepare dispatch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "dispatch-url-present",
              "leftValue": "={{ $json.dispatchUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1b2c3d4-e5f6-7890-abcd-611111111104",
      "name": "Has dispatcher?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.dispatchUrl }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Agent-Dispatch-Token",
              "value": "={{ $json.dispatchToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "f1b2c3d4-e5f6-7890-abcd-611111111105",
      "name": "Dispatch merge event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 220],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ ok: true, dispatched: !!$json.dispatchUrl }) }}",
        "options": {}
      },
      "id": "f1b2c3d4-e5f6-7890-abcd-611111111106",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1080, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare dispatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare dispatch": {
      "main": [
        [
          {
            "node": "Has dispatcher?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has dispatcher?": {
      "main": [
        [
          {
            "node": "Dispatch merge event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch merge event": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
