n8n/workflows/session-end.json
{
  "id": "a1b0a1b0-0001-4000-8000-000000000002",
  "name": "ME · Session end",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "session-end",
        "authentication": "none",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1b2c3d4-e5f6-7890-abcd-211111111101",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "b1b2c3d4-e5f6-7890-abcd-211111111102"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const root = items[0].json;\nconst body = root.body !== undefined ? root.body : root;\nconst source = String(body.source || 'session');\nconst principal = String(body.principal || $env.MEMORY_ENGINE_USER_ID || 'memory-engine');\nconst raw_summary = typeof body.raw_summary === 'string' ? body.raw_summary : JSON.stringify(body.raw_summary ?? body.summary ?? '');\nconst projects_touched = Array.isArray(body.projects_touched) ? body.projects_touched : [];\nconst new_concepts = Array.isArray(body.new_concepts) ? body.new_concepts : [];\nconst decisions_made = Array.isArray(body.decisions_made) ? body.decisions_made : [];\nconst open_questions = Array.isArray(body.open_questions) ? body.open_questions : [];\nconst command_or_api = body.command_or_api ? String(body.command_or_api) : 'webhook:session-end';\nconst git_ref = body.git_ref ? String(body.git_ref) : '';\nconst artifact_url = body.artifact_url ? String(body.artifact_url) : '';\nconst metadata = typeof body.metadata === 'object' && body.metadata !== null ? body.metadata : {};\nreturn [{ json: { source, principal, raw_summary, projects_touched, new_concepts, decisions_made, open_questions, command_or_api, git_ref, artifact_url, metadata } }];"
      },
      "id": "b1b2c3d4-e5f6-7890-abcd-211111111103",
      "name": "Parse body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "INSERT INTO sessions (source, principal, raw_summary, projects_touched, new_concepts, decisions_made, open_questions, command_or_api, git_ref, artifact_url, metadata)\nVALUES ($1::text, $2::text, $3::text, $4::text[], $5::text[], $6::text[], $7::text[], $8::text, NULLIF($9::text, ''), NULLIF($10::text, ''), $11::jsonb)\nRETURNING id::text AS session_id",
        "options": {
          "queryReplacement": "={{ [ $json.source, $json.principal, $json.raw_summary, $json.projects_touched, $json.new_concepts, $json.decisions_made, $json.open_questions, $json.command_or_api, $json.git_ref || '', $json.artifact_url || '', JSON.stringify($json.metadata || {}) ] }}"
        }
      },
      "id": "b1b2c3d4-e5f6-7890-abcd-211111111104",
      "name": "PG insert session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [640, 300],
      "credentials": {
        "postgres": {"id": "a1c0feed-0001-4000-8000-00000000c001", "name": "Memory Postgres"}
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ ok: true, session_id: $json.session_id }) }}",
        "options": {}
      },
      "id": "b1b2c3d4-e5f6-7890-abcd-211111111107",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Parse body", "type": "main", "index": 0}]]},
    "Parse body": {"main": [[{"node": "PG insert session", "type": "main", "index": 0}]]},
    "PG insert session": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": false},
  "pinData": {}
}
